{% extends 'base.html' %}

{% block content %}

<div class="row row-flex">
    {% for product in products %}
            <div class="col-12 col-md-4 col-lg-3">
            <div class="product-card">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
    
                <h3 class="product-description">{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p class="product-description">{{ product.price }}<i class="fa fa-eur" aria-hidden="true"></i></p>

                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" value="1" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
    </div>
    {% endfor %}
    
</div>

{% endblock %}