{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block content %}
{% if total == 0 %}
<br>
<br>
    <div class="text-center">
        <h1>Your Cart is empty</h1>
        <br>
        <i class="fa fa-cart-plus fa-5x" aria-hidden="true"></i>
        <br>
        <h2>Please choose from our products <a href="{% url 'products' %}"> here</a></h2>
    </div>
{% else %}
<div class="row row-flex">
    {% for item in cart_items %}
    
    <div class="col-12 col-md-4 col-lg-3">
    <div class="product-card">
        
        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
        
        <div class="caption">
            <h3 class="product-description">{{ item.product.name }}</h3>
            <p class="product-description">{{ item.product.description }}</p>
            <p class="product-description">{{ item.product.price }}<i class="fa fa-eur" aria-hidden="true"></i></p>
            <p>
                
                <form class="form-inline justify-content-center" method="post" action="{% url 'adjust_cart' item.product.id %}">
                    {% csrf_token %}
                    <div class="form-group ">
                        <label for="exampleInputAmount" class="sr-only">New Qty</label>
                        <div class="input-group ">
                            <!-- <p class="input-group-addon">Qty</p> -->
                            <input name="quantity" type="number" min="0" max="999" class="form-control" value="{{ item.quantity }}">
                            <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                            </span>
                        </div>
                    </div>
                    
                </form>
            </p>
        </div>
          </div> 
           </div>
    {% endfor %}
  
</div>
<div class="row justify-content-center cart-total-sum">
    <p> Total <i class="fa fa-eur" aria-hidden="true"></i>{{ total }}</p>
    <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>

</div>


{% endif %}
{% endblock %}